<div class="card-product m-3">
  <%= cl_image_tag location.game.picture.key, width: 120; %>
  <div class="card-product-infos">
  <% d = location.start %>
  <% e = location.end %>
    <h2 class="nope"><%= location.name %></h2>
    <div class="d-flex">
    <p class='nope'><%= "Date de début de votre réservation : #{d.strftime("%d/%m/%Y")} jusqu'au : #{e.strftime("%d/%m/%Y")}" %></p>
    </div>
  </div>
</div>
