<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1>Society Loc</h1>
    <p>Louer des jeux de société pour des soirées entre amis".</p>
    <a class="btn btn-flat" href="#">Clique ici</a>
  </div>
</div>
