<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://img.lemde.fr/2019/11/01/0/0/6000/4000/1045/696/75/0/b20e15f_oLyBcQgVp2b_9xbbzgzj56mi.jpg);">
  <div class="container">
    <h1 class="text-warning text-center p-3">Society Loc</h1>
    <p class="text-light p-3">Louer des jeux de société pour des soirées entre amis.</p>
    <%= link_to "Liste des jeux", games_path, class:"btn btn-flat btn-secondary mx-3" %>
  </div>
</div>

<div style="margin-left: 15%; margin-right: 15%;"><p><h2 class="text-center">Un jeu de société, on sait très bien que c’est acheté et puis c’est mis dans un coin. Society Loc permet de relouer vos jeux de société et ça c’est un super concept !</h2></p></div>
