<div class="container">
  <h1 class="text-center fw-bold"><%= @game %></h1>
  <div class="d-flex justify-content-center bg-light shadow rounded">
    <%= render "composents/game_form", game: @game %>
  </div>
</div>
