
<div class="container text-center">
  <h1 class="p-5">Society_loc</h1>
  <div class="text-center p-3">
    <div class="row row-col-3">
      <% @games.each do |game| %>
        <%= render "composents/game_card", game: game %>

      <% end %>
    </div>
  </div>
</div>
