<h1>Societty_loc</h1>

  <ul>
  <% @games.each do |games| %>
    <li><%= games.name %></li>
  <% end %>
</ul>

<div class="banner" style=background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),http://img.over-blog-kiwi.com/1/40/66/69/20180522/ob_ac9398_10-jeux-de-societe-famille-incontourna.jpg
  <div class="container">
    <h1>Societty_loc <strong></h1>
    <p>louez des jeux de societe pour vos soirée entre amis</p>
    <a class="btn btn-flat" href="#">cliquer ici</a>
  </div>
</div>
<div class="card-trip">
  <div class="card-trip-infos">
    <div>
      <h2></h2>
      <p></p>
    </div>
</div>
