<div class="container">
  <h1 class="text-center fw-bold">Nouveau jeu</h1>
  <div class="d-flex justify-content-center">
    <div class="w-50 bg-light shadow rounded p-3">
      <%= render "composents/game_form", game: @game %>
    </div>
  </div>
</div>
