<div class="container">
  <h1 class="text-center p-5 fw-bold"><%= @game.name %></h1>
      <h2 class="text-center fw-bold">Description</h2>
  <div class="d-flex justify-content-center p-3">
    <div class="w-50">
      <div class="rounded shadow p-3 bg-light">
      <%= cl_image_tag @game.picture.key, height: 500, width: 500, crop: :fill %>
        <p><%= @game.description %></p>
      </div>
    </div>
  </div>
