<div class="container">
  <div class="text-center">
    <h1 class="fw-bold">Mes locations</h1>
  </div>
  <div class="d-flex justify-content-center p-3">
    <div class="row w-75">
          <% @locations.each do |location| %>
            <div>
              <%= link_to "/games/#{location.game.id}/locations/#{location.id}" do %>
                <%= render "composents/location_card", location: location %>
              <% end %>
            </div>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
